//ブレイクポイントの種類を定義

$breakpoint: (
  sp: 'screen and (max-width: 480px)',
  tab: 'screen and (max-width: 768px)',
  pc: 'screen and (max-width: 1080px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
   @content;
  }
}

.kmft{
  font-family: 'Kiwi Maru', serif;
}
.nsft{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: lighter;
}
.ftw5{
  font-weight: 500;
}
.ftw3{
  font-weight: 300;
}
