@import "_common.scss";

// footerエリアーーーー
footer{
    background-color: #E59FAF;
    p{
        font-size: 1rem;
        text-align: center;
        padding: 2rem 0;
        color: #fff;
    }
}