@import "_common.scss";

// footerエリアーーーー
footer{
    background-color: #E59FAF;
    position: relative;
    p{
        font-size: 12px;
        text-align: center;
        padding: 2rem 0;
        color: #fff;
    
    }
    .top-button{
        width: 55px;
        // @include mq(sp) {
        //     width: 45px;
        //   }
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 5;
        padding: 10px;
        cursor: pointer;
        transition: .3s;
        
        /*デフォルトで非表示にする*/
        opacity: 0;
        visibility: hidden;
      }
      
      /*このクラスが付与されると表示する*/
      .active{
        opacity: 1;
        visibility: visible;
      }
      
      
      
      /*このクラスが付与されると表示する*/
      .absolute{
        position: absolute;
        top: -120px;
        bottom: auto;
      }
}