@import "_common.scss";

// infoエリアーーーー

#info {
    background: url(../image/body_pattern.png);
    color: #868686;
    position: relative;
    padding-bottom: 10rem;
  .inner {
    position: relative;
    z-index: 2;
    max-width: 1100px;
    margin: 0 auto;
    @include mq(pc) {
        padding: 0 16px;
      }
    
  }
  .bg-right {
    position: absolute;
    z-index: 0;
    top: 10%;
    right: 0;
    width: 5%;
    @include mq(sp) {
      width: 15%;
    }
    &-bottom{
    position: absolute;
    z-index: 0;
    bottom: 5%;
    right: 0;
    width: 7%;
    @include mq(sp) {
      width: 15%;
    }
    }
  }
  .bg-left {
    position: absolute;
    z-index: 0;
    bottom: 30%;
    left: 0;
    width: 5%;
    @include mq(sp) {
      width: 20%;
    }
  }
  .fs2 {
    font-size: 24px;
    @include mq(pc) {
      font-size: 20px;
    }
    @include mq(tab) {
      font-size: 16px;
    }
    @include mq(sp) {
      font-size: 20px;
    }
  }
  .fs5 {
    font-size: 18px;
    @include mq(tab) {
      font-size: 16px;
    }
  }
  .info{
      &-title{
        text-align: center;
        padding-bottom: 2rem;
      }
      &-text{
        line-height: 1.5;
        
      }

  }
}
