/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.kmft {
  font-family: "Kiwi Maru", serif;
}

.nsft {
  font-family: 'Noto Serif JP', serif;
  font-weight: lighter;
}

.ftw5 {
  font-weight: 500;
}

.ftw3 {
  font-weight: 300;
}

.kmft {
  font-family: "Kiwi Maru", serif;
}

.nsft {
  font-family: 'Noto Serif JP', serif;
  font-weight: lighter;
}

.ftw5 {
  font-weight: 500;
}

.ftw3 {
  font-weight: 300;
}

#question {
  background: #faebee;
  color: #868686;
}

#question .inner {
  padding-bottom: 8rem;
}

#question .fs2 {
  font-size: 22px;
}

@media screen and (max-width: 1080px) {
  #question .fs2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 820px) {
  #question .fs2 {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  #question .fs2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  #question .fs2 {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  #question .fs2 {
    font-size: 15px;
  }
}

#question .fs3 {
  font-size: 22px;
}

@media screen and (max-width: 1080px) {
  #question .fs3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  #question .fs3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  #question .fs3 {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  #question .fs3 {
    font-size: 13px;
  }
}

#question .fs5 {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  #question .fs5 {
    font-size: 16px;
  }
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 1080px) {
  .inner {
    padding: 0 16px;
  }
}

.question-title {
  font-size: 40px;
  padding: 5rem 0 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .question-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .question-title {
    font-size: 24px;
  }
}

.question-title-inner {
  display: inline-block;
  position: relative;
}

.question-title h2 {
  margin: 0 auto;
}

.question-title img {
  width: 10%;
}

.question-title .left {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.question-title .right {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.question-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  .question-group {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.question-group .question-wrap:nth-of-type(2) {
  margin: 0 100px;
}

@media screen and (max-width: 768px) {
  .question-group .question-wrap:nth-of-type(2) {
    margin: 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .question-group .question-wrap:nth-of-type(2) {
    margin: 0;
  }
}

.question-wrap {
  width: 33%;
}

@media screen and (max-width: 480px) {
  .question-wrap {
    width: 70%;
    padding-bottom: 3rem;
  }
}

.question-wrap img {
  width: 100%;
}

.question-wrap .title {
  text-align: center;
  padding-bottom: 1rem;
  line-height: 1.5;
}

.question-wrap .question-lead {
  width: 100%;
}

.question-wrap .question-lead p {
  background: url(../image/hukidashi.png) no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 2rem 2rem 3rem 2rem;
  margin-top: 1rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .question-wrap .question-lead p {
    background-size: 80%;
  }
}

@media screen and (max-width: 768px) {
  .question-wrap .question-lead p {
    padding: 1.5rem 2rem 2rem 2rem;
  }
}

@media screen and (max-width: 480px) {
  .question-wrap .question-lead p {
    padding: 1.5rem 2rem 2rem 2rem;
  }
}

.question-wrap .question-text {
  line-height: 1.5;
}

.kmft {
  font-family: "Kiwi Maru", serif;
}

.nsft {
  font-family: 'Noto Serif JP', serif;
  font-weight: lighter;
}

.ftw5 {
  font-weight: 500;
}

.ftw3 {
  font-weight: 300;
}

#contact {
  background: #faebee;
  color: #868686;
}

@media screen and (max-width: 480px) {
  #contact {
    padding: 3rem 0;
  }
}

#contact .line-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  #contact .line-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#contact .line-contact .image-area,
#contact .line-contact .text-area {
  width: 50%;
  padding: 0 2rem;
}

@media screen and (max-width: 480px) {
  #contact .line-contact .image-area,
  #contact .line-contact .text-area {
    width: 100%;
  }
}

#contact .line-contact .image-area img {
  width: 100%;
}

#contact .text-area {
  font-size: 40px;
}

#contact .text-area button img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #contact .text-area {
    font-size: 30px;
  }
}

#contact .text-area-inner {
  display: inline-block;
  position: relative;
}

#contact .text-area img {
  width: 10%;
}

#contact .text-area .left {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

@media screen and (max-width: 480px) {
  #contact .text-area .left {
    display: block;
  }
}

#contact .text-area .right {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

@media screen and (max-width: 480px) {
  #contact .text-area .right {
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
  }
}

#contact .text-area p {
  padding-left: 4rem;
}

@media screen and (max-width: 700px) {
  #contact .text-area p {
    font-size: 22px;
    padding-top: 2rem;
    padding-left: 1rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 480px) {
  #contact .text-area p {
    font-size: 26px;
    padding-top: 2rem;
    padding-left: 1rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 330px) {
  #contact .text-area p {
    font-size: 20px;
    padding-top: 2rem;
    padding-left: 1rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 480px) {
  #contact .text-area button {
    margin-right: 2rem;
  }
}

.kmft {
  font-family: "Kiwi Maru", serif;
}

.nsft {
  font-family: 'Noto Serif JP', serif;
  font-weight: lighter;
}

.ftw5 {
  font-weight: 500;
}

.ftw3 {
  font-weight: 300;
}

.dot-bg {
  background: url(../image/body_pattern.png);
  background-size: 2%;
}

#voice {
  color: #868686;
  padding-top: 8rem;
  position: relative;
}

#voice .bg-right {
  position: absolute;
  z-index: 0;
  top: 10;
  right: 0;
  width: 10%;
}

@media screen and (max-width: 480px) {
  #voice .bg-right {
    width: 30%;
  }
}

#voice .bg-left {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 5%;
}

@media screen and (max-width: 480px) {
  #voice .bg-left {
    width: 20%;
  }
}

#voice .inner {
  position: relative;
  padding-bottom: 8rem;
  z-index: 5;
}

@media screen and (max-width: 1080px) {
  #voice .inner {
    padding: 0 16px;
  }
}

#voice .fs5 {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  #voice .fs5 {
    font-size: 16px;
  }
}

#voice .inner {
  max-width: 1100px;
  margin: 0 auto;
}

#voice .voice-title {
  font-size: 40px;
  padding: 5rem 0 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  #voice .voice-title {
    font-size: 30px;
  }
}

#voice .voice-title-inner {
  display: inline-block;
  position: relative;
}

#voice .voice-title h2 {
  margin: 0 auto;
}

#voice .voice-title img {
  width: 10%;
}

#voice .voice-title .left {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

#voice .voice-title .right {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

#voice .voice-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  #voice .voice-group {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#voice .voice-group .voice-wrap:nth-of-type(2) {
  margin: 0 100px;
}

@media screen and (max-width: 768px) {
  #voice .voice-group .voice-wrap:nth-of-type(2) {
    margin: 0 50px;
  }
}

@media screen and (max-width: 480px) {
  #voice .voice-group .voice-wrap:nth-of-type(2) {
    margin: 0;
  }
}

#voice .voice-wrap {
  width: 33%;
}

@media screen and (max-width: 480px) {
  #voice .voice-wrap {
    width: 70%;
    padding-bottom: 3rem;
  }
}

#voice .voice-wrap img {
  width: 100%;
}

#voice .voice-wrap .voice-text {
  padding-top: 1rem;
  line-height: 1.5;
}

#voice .border {
  border-bottom: 1px solid #e59faf;
  opacity: 1;
  margin: 8rem 2rem;
}

.kmft {
  font-family: "Kiwi Maru", serif;
}

.nsft {
  font-family: 'Noto Serif JP', serif;
  font-weight: lighter;
}

.ftw5 {
  font-weight: 500;
}

.ftw3 {
  font-weight: 300;
}

#info {
  color: #868686;
  position: relative;
  padding-bottom: 10rem;
}

#info .inner {
  position: relative;
  z-index: 2;
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 1080px) {
  #info .inner {
    padding: 0 16px;
  }
}

#info .bg-right {
  position: absolute;
  z-index: 0;
  top: 10%;
  right: 0;
  width: 5%;
}

@media screen and (max-width: 480px) {
  #info .bg-right {
    width: 15%;
  }
}

#info .bg-right-bottom {
  position: absolute;
  z-index: 0;
  bottom: 5%;
  right: 0;
  width: 7%;
}

@media screen and (max-width: 480px) {
  #info .bg-right-bottom {
    width: 15%;
  }
}

#info .bg-left {
  position: absolute;
  z-index: 0;
  bottom: 30%;
  left: 0;
  width: 5%;
}

@media screen and (max-width: 480px) {
  #info .bg-left {
    width: 20%;
  }
}

#info .fs2 {
  font-size: 24px;
}

@media screen and (max-width: 1080px) {
  #info .fs2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  #info .fs2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  #info .fs2 {
    font-size: 20px;
  }
}

#info .fs5 {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  #info .fs5 {
    font-size: 16px;
  }
}

#info .info-title {
  text-align: center;
  padding-bottom: 2rem;
}

#info .info-text {
  line-height: 1.5;
}

.kmft {
  font-family: "Kiwi Maru", serif;
}

.nsft {
  font-family: 'Noto Serif JP', serif;
  font-weight: lighter;
}

.ftw5 {
  font-weight: 500;
}

.ftw3 {
  font-weight: 300;
}

footer {
  background-color: #E59FAF;
}

footer p {
  font-size: 12px;
  text-align: center;
  padding: 2rem 0;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */